.principale{

}

.haut{

}

.header{
  top: auto;
  width: 100%;
}

.header img{
  height: 100px;
  width: 150px;

}

.txthaut{

}

.recherche{

}

#dropdown{

}

#dropdown-content{
  display: none;
}

#menu{
  position: absolute;
  right: 10px;
  top: 25px;
}

#hote{
  border: 2px double white;
  margin-right: 20px;
  padding: 5px;
}

#imageDeFond{
  position: absolute;
  z-index: -1;
}

a{
  text-decoration: none;
  color: black;
  margin-right: 10px;
}
